# Observations from Py City Schools Data

## Observation 1

The first observation is that the amount spent per student is not an indicator of how well the students perform in math and reading.  The data displayed under School Summary section shows that the top performing schools generally have lower cost per student than the lower performing schools.  Specifically, Cabrera High School is the top performer based on Overall Passing Rate but has a lower cost per student than all of the bottom five performers.  This is further illustrated by the table in section Scores by School Spending.  That data shows that the lowest spending schools are producing the best overall passing scores.  Based on this, more money does not produce better students.

## Observation 2
The second observation is that school size has a major role in student scores.  The top five performing schools have half the number of students than the bottom five performing schools.  With a difference on Overall Passing Scores of approximately 22 points, the size of the school plays a significant role in student performance.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

## District Summary

* Calculate the total number of schools
* Calculate the total number of students
* Calculate the total budget
* Calculate the average math score 
* Calculate the average reading score
* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
* Calculate the percentage of students with a passing math score (70 or greater)
* Calculate the percentage of students with a passing reading score (70 or greater)
* Create a dataframe to hold the above results
* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
unique_schools = school_data_complete["school_name"].unique()
unique_school_count = unique_schools.size

In [3]:
# Calculate the total number of students
unique_ids = school_data_complete["Student ID"].unique()
unique_id_count = unique_ids.size

In [4]:
# Calculate the total budget
school_data_complete.sort_values("school_name", inplace = True) 
hs_no_dup = school_data_complete.drop_duplicates(subset ="school_name", 
                     keep = "first", inplace = False) 
total_budget = hs_no_dup["budget"].sum()

In [5]:
# Calculate the average math score 
math_average = school_data_complete["math_score"].mean()
math_average
# Calculate the average reading score
reading_average = school_data_complete["reading_score"].mean()
reading_average
# Calculate the overall passing rate math & english average
overall_average = np.divide((math_average + reading_average), 2)

In [6]:
# * Calculate the percentage of students with a passing math score (70 or greater)

math_filter = school_data_complete["math_score"] >= 70
passing_math = school_data_complete[math_filter]
passing_math_count = passing_math.shape[0]
math_passing_percent = (np.divide(passing_math_count, unique_id_count)) * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
reading_filter = school_data_complete["reading_score"] >= 70
passing_reading = school_data_complete[reading_filter]
passing_reading_count = passing_reading.shape[0]
reading_passing_percent = (np.divide(passing_reading_count, unique_id_count)) * 100

In [7]:
# Create the data frame with a dictionary and display the District Summary
summary = [{"Total Schools": unique_school_count, 
           "Total Students": unique_id_count, 
           "Total Budget": total_budget, 
           "Average Math Score": math_average, 
           "Students Above 70% (Math)": math_passing_percent,
           "Average Reading Score": reading_average, 
           "Students Above 70% (Reading)": reading_passing_percent,
           "Overall Average": overall_average}]
summary_df = pd.DataFrame(summary)

# Format floats to two decimal places
headings = list(summary_df.columns)[3:9] 
for col in headings:
    summary_df[col] = summary_df[col].map("{:.2f}%".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,.0f}".format) 
summary_df["Total Students"] = summary_df["Total Students"].map("{:,.0f}".format) 
# Don't show the numerical index.
summary_df.set_index(keys="Total Schools", inplace=True)
summary_df

,Total Students,Total Budget,Average Math Score,Students Above 70% (Math),Average Reading Score,Students Above 70% (Reading),Overall Average
Total Schools,,,,,,,
15,"39,170","$24,649,428",78.99%,74.98%,81.88%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [8]:
# Create the dataframe for the summary by school.  Then sort the table to get top and bottom performers.
school_summary_headings = ["School Name", "School Type", "Total Students", "Total School Budget", 
                           "Per Student Budget", "Average Math Score", "Average Reading Score", 
                           "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]
school_summary_df = pd.DataFrame() 

# Loop thhrough the schools and extract the required information.
# unique_schools was set in one of the frames above.
for school_name in unique_schools:
    # Create the filter and and get the data for one school.
    hs_filter = school_data_complete["school_name"] == school_name
    school_x_df = school_data_complete.loc[hs_filter]

    # All the type cells have the same value so use the first one.
    school_type = school_x_df["type"].values[0]
    school_students = school_x_df["size"].values[0]
    school_budget = school_x_df["budget"].values[0] 
    
    # Calculate the cost per student.
    school_budget_per_student = np.divide(school_budget, school_students)
    
    # Get the math and reading averages.
    school_ave_math = school_x_df["math_score"].mean()
    school_ave_reading = school_x_df["reading_score"].mean()
    
    # Filter the math scores >= 70, get the number of them and calculate the percent passing math.
    math_filter = school_x_df["math_score"] >= 70
    passing_math = school_x_df[math_filter].shape[0]
    passing_math_percent = np.divide(passing_math, school_students) * 100
    
    # Filter the reading scores >= 70, get the number of them and calculate the percent passing reading.
    reading_filter = school_x_df["reading_score"] >= 70
    passing_reading = school_x_df[reading_filter].shape[0]
    passing_reading_percent =  np.divide(passing_reading, school_students) * 100
    
    total_passing_percent = np.divide(passing_math_percent + passing_reading_percent , 2)
    
    # Make a list of a list for the DataFrame() constructor.
    school_summary_data = [[school_name, school_type, school_students, school_budget, 
                       school_budget_per_student, school_ave_math, school_ave_reading,
                       passing_math_percent, passing_reading_percent, total_passing_percent]]

    # Create the DataFrame and append it to the school_summary_df.
    a_school_df = pd.DataFrame (school_summary_data, columns=school_summary_headings)
    if(not school_summary_df.empty):
        school_summary_df = school_summary_df.append(a_school_df, ignore_index=True)
    else:
        school_summary_df = a_school_df

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [9]:
# Set the index, sort to get the top five, and display table.
school_summary_df.set_index(keys="School Name", inplace=True)
school_summary_df.sort_values("% Overall Passing Rate", axis = 0, ascending = False, inplace = True) 
school_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [10]:
# The index is changed in Top Perfoming code.
# Sort to get the bottom five, and display table.
school_summary_df.sort_values("% Overall Passing Rate", axis = 0, ascending = True, inplace = True) 
school_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math and Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
# This function is used for both Math Scores by Grade and Reading Scores by Grade.
# school_list - the list of unique_schools, unique_schools is set in one of the top frames.
# subject_score - the heading for the desired subject. ("math_score" or "reading_score")
# returns - The completed dataframe with all the schools included.
def scoreBySchool(school_list, subject_score):
    subj_by_school_df = pd.DataFrame() #create a DataFrame to keep the results.
    
    for aSchool in school_list:
        school_name = aSchool
        
        # Group by school and grade.
        group_series = school_data_complete.groupby(["school_name", "grade"])[subject_score].mean()
        group_df = pd.DataFrame(group_series)
        grade_series = group_df.loc[school_name, subject_score]
        
        # grade_series makes rows and not columns so it needs to be transposed to be useful.
        grade_df = (pd.DataFrame(grade_series)).T
    
        grade_df["School Name"] = school_name

        # We have all the information we need.  Put it in a data frame.
        if(not subj_by_school_df.empty):
            subj_by_school_df.append(grade_df)
            subj_by_school_df = subj_by_school_df.append(grade_df, ignore_index=True)
        else:
            subj_by_school_df = grade_df

    # Set the index and sort.        
    subj_by_school_df.set_index(keys="School Name", inplace=True)
    subj_by_school_df.sort_values("School Name", axis = 0, ascending = True, inplace = True) 
    
    # Some unwanted column headers got drug along.  Delete them.
    del subj_by_school_df.columns.name
    subj_by_school_df = subj_by_school_df.rename_axis(None)
    
    # The default for the heading has 9th grade listed last.  Reorder them.
    headings = list(subj_by_school_df)
    ninth = headings.pop(3)
    headings.insert(0, ninth)

    # Get the columns reordered.
    subj_by_school_df = subj_by_school_df.loc[:, headings]

    # Format the columns to two decimal places.
    for grade in headings:
        subj_by_school_df[grade] = subj_by_school_df[grade].map("{:.2f}%".format)
        
    subj_by_school_df.index.name = "School Name"
    return subj_by_school_df

## Math Score by Grade

In [12]:
# Call the function scoreBySchool(,) passing in the school list and subject heading for math.
scoreBySchool(unique_schools, "math_score")

                          9th    10th    11th    12th
School Name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [13]:
# Call the function scoreBySchool(,) passing in the school list and subject heading for reading.
scoreBySchool(unique_schools, "reading_score")

                          9th    10th    11th    12th
School Name
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# This function is used by Scores by School Spendng, Scores by School Size, and Scores by School Type.
# grouped_df - a data frame that has already been grouped.
# group_names - The ranges used during the binning process.
# index_by - Used at the end to set the index column in the results data frame.
# heading_list - The list of column heading names for the results data frames.
# returns - The completed dataframe with all groups included.
def summaryByGroup(grouped_df, group_names, index_by, heading_list):
    results_df = pd.DataFrame()
    
    # Look at each group and extract the required information.
    for a_group in group_names:
        one_grp = grp.get_group(a_group)

        one_grp_math_mean = one_grp["math_score"].mean()
        one_grp_reading_mean = one_grp["reading_score"].mean()

        # Get the number of students in the group.
        one_grp_count = len(one_grp["Student ID"].unique())

        # Filter and calculate the number and percentage of passing students for math.
        math_filter = one_grp["math_score"] >= 70
        passing_math = one_grp[math_filter].shape[0]
        passing_math_percent = np.divide(passing_math, one_grp_count) * 100

        # Filter and calculate the number and percentage of passing students for reading.
        reading_filter = one_grp["reading_score"] >= 70
        passing_reading = one_grp[reading_filter].shape[0]
        passing_reading_percent = np.divide(passing_reading, one_grp_count) * 100

        # Combined matha nd reading passing percentage.
        overall_passing = np.divide((passing_math_percent + passing_reading_percent), 2)

        # Make a list of list for the DataFrame constructor.
        one_data =[[a_group, one_grp_math_mean, one_grp_reading_mean, passing_math_percent, passing_reading_percent, overall_passing]]
        
        # Create a data frame for the one school.
        one_df = pd.DataFrame(one_data, columns=heading_list)

        # Append each school to the finished results table.
        if(not results_df.empty):
            results_df = results_df.append(one_df, ignore_index=True)
        else:
            results_df = one_df
    # Set the index and return the completed results table.
    results_df.set_index(keys=index_by, inplace=True)    
    return results_df

In [15]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [16]:
# We are adding an new column, lets preseve the original data.
df = pd.DataFrame(school_data_complete)

# Add the dolumn with the per student spending.
df["PerStudent"] = (df["budget"] / df["size"])

# Add a column which is the result of the binning operation.
df["PerStudentRange"] = pd.cut(df["PerStudent"], spending_bins, labels=group_names)

# Group them by the binning results.
grp = df.groupby("PerStudentRange")

# Create the final data frame column headings.
heading_list = ["Spending Ranges (Per Student)", "Average Math Score", 
                "Average Reading Score", "% Passing Math", 
                "% Passing Reading", "% Overall Passing Rate"]

In [17]:
# Call the function summaryByGroup(,,,) to get the resulting df for spending.
summaryByGroup(grp, group_names, "Spending Ranges (Per Student)", heading_list)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,93.702889,96.686558,95.194724
$585-615,83.529196,83.838414,94.124128,95.886889,95.005509
$615-645,78.061635,81.434088,71.400428,83.614770,77.507599
$645-675,77.049297,81.005604,66.230813,81.109397,73.670105

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [19]:
# We are adding an new column, lets preseve the original data.
df = pd.DataFrame(school_data_complete)

# Add the dolumn with the with the binning results.
df["SizeRange"] = pd.cut(df["size"], size_bins, labels=group_names)

# Group them by the binning column.
grp = df.groupby("SizeRange")

# The column headins for the results df.
heading_list = ["School Size", "Average Math Score", 
                "Average Reading Score", "% Passing Math", 
                "% Passing Reading", "% Overall Passing Rate"]

In [20]:
# Call the function summaryByGroup(,,,) to get the resulting df for school size.
summaryByGroup(grp, group_names, "School Size", heading_list)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769

## Scores by School Type

* Perform the same operations as above, based on school type.

In [21]:
# Sample bins. Feel free to create your own bins.
size_bins = ["Charter", "District"]
group_names = ["Charter", "District"]

In [22]:
# The column headins for the results df.
heading_list = ["School Type", "Average Math Score", 
                "Average Reading Score", "% Passing Math", 
                "% Passing Reading", "% Overall Passing Rate"]
# Group them by type.
grp = school_data_complete.groupby("type")

In [23]:
# Call the function summaryByGroup(,,,) to get the resulting df for school type.
summaryByGroup(grp, group_names, "School Type", heading_list)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818